/*SVG STUFF*/

.cls-1,
.cls-2,
.cls-4 {
    fill: none;
    stroke: #231f20;
}

.cls-1,
.cls-4 {
    stroke-miterlimit: 10;
}

.cls-2 {
    stroke-linejoin: round;
}

.cls-3 {
    clip-path: url(#clip-path);
}

.cls-4 {
    stroke-width: 0.75px;
}

.cls-5 {
    clip-path: url(#clip-path-2);
}

body,
html {
    margin: auto
}

.index {
    background-color: #BEB6AE;
}

/*index text*/

#indexContent {
    margin-top: 10vh;
    margin-bottom: 140px;
}

.index h1, .contactPage p {
    font: 13pt 'Josefin Sans', sans-serif;
    text-align: center;
    margin: 25px 0 0;
}

.index h1:nth-child(3) {
    margin-bottom: -15px;
}

.index h1:nth-child(5) {
    margin-top: 15px;
}

/*SVG styling, animations*/

#me {
    width: 45vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.leftEye,
.rightEye {
    animation: blink 5s infinite;
    transform-origin: 0px 59px 0px;
}

@keyframes blink {
    0.1%,
    2% {
        transform: scale(1, 1);
    }
    0.6%,
    1% {
        transform: scale(1, 0.07);
    }
}

/*mobile navigation*/

.mobileNav {
    cursor: pointer;
    position: fixed;
    display: grid;
    bottom: 0;
    grid-auto-columns: 1fr 1fr;
}

.worksTriangle {

    border-bottom: 50vw solid white;
    border-right: 50vw solid transparent;
}

.worksTriangle h2,
.contactTriangle h2 {
    font: 700 16pt 'Josefin Sans', sans-serif;
    color: #BEB6AE;
    position: absolute;
    top: 59%;
    left: 4%;
    transform: rotate(45deg);
    margin: auto;
}

.contactTriangle {
    grid-column: 2;
    border-bottom: 50vw solid #9AA9B0;
    border-left: 50vw solid transparent;
}

.contactTriangle h2 {
    position: absolute;
    left: inherit;
    right: 2%;
    transform: rotate(-45deg);
}

/*contact page */

.inContactPage {
    background-color: #9AA9B0;
}

.homeTriangle {
    border-bottom: 50vw solid #BEB6AE;
}

.contactTriangle h2:nth-child(2) {
    color: #9AA9B0;
    right: 7%;
}
.contactPage{
    margin: 25vh 0 150px;
    padding: 0 40px;
}
.contactPage p{
    line-height: 20px;
}
/*class to apply transition*/

.transitionAll {
    transition: all 0.5s;
}

/*dont display class*/

.dontDisplay {
    display: none;
}
