/*SVG STUFF*/

.cls-1,
.cls-2,
.cls-4 {
    fill: none;
    stroke: #231f20;
}

.cls-1,
.cls-4 {
    stroke-miterlimit: 10;
}

.cls-2 {
    stroke-linejoin: round;
}

.cls-3 {
    clip-path: url(#clip-path);
}

.cls-4 {
    stroke-width: 0.75px;
}

.cls-5 {
    clip-path: url(#clip-path-2);
}

.cog1 {
    fill: #7a6048;
}

.cog2 {
    fill: #877e60;
}

#loaderSVG {
    position: relative;
    top: 20vw;
}

#loaderSVG svg:first-child {
    animation: rotation 5s linear infinite reverse;
}

#loaderSVG svg {
    width: 35vw;
    display: block;
    margin: -7px auto;

    animation: rotation 5s linear infinite;
}

@keyframes rotation {
    to {
        transform: rotate(-360deg)
    }
}

body,
html {
    margin: auto
}

.index {
    background-color: #BEB6AE;
}

/*class to apply transition*/

.transitionAll {
    transition: all 0.5s;
}

/*index text*/

.indexContent {
    margin-top: 7vh;
    margin-bottom: 140px;
}

.index h1,
.contactPage p,
#currentOpt {
    font: 13pt 'Josefin Sans', sans-serif;
    text-align: center;
    margin: 25px 0 0;
}

.index h1:nth-child(3) {
    margin-bottom: -15px;
}

.index h1:nth-child(5) {
    margin-top: 15px;
}

/*SVG styling, animations*/

#me {
    width: 45vw;
    display: block;
    margin: auto;
    animation: headMove 2s infinite alternate;
    max-width: 300px;
}

.leftEye,
.rightEye {
    animation: blink 5s infinite;
    transform-origin: 0px 59px 0px;
}

@keyframes blink {
    0.1%,
    2% {
        transform: scale(1, 1);
    }
    0.6%,
    1% {
        transform: scale(1, 0.07);
    }
}

@keyframes headMove {
    to {
        transform: translateY(-10px);
    }
}

/*mobile navigation*/

.mobileNav {
    position: fixed;
    bottom: 0;
}

.worksTriangle,
.filterTriangle,
.contactTriangle,
.homeTriangle {
    cursor: pointer;
    border-left: 105px solid transparent;
    border-right: 105px solid transparent;
    border-top: 105px solid white;
    transform-origin: 50% 100%;
    transform: rotate(45deg);
    position: fixed;
    bottom: 0;
    left: -105px;
    z-index: 4;
}

.worksTriangle h2,
.contactTriangle h2,
.homeTriangle h2,
.filterTriangle h2 {
    font: 700 16pt 'Josefin Sans', sans-serif;
    color: #BEB6AE;
    position: absolute;
    top: -80px;
    left: -40px;
    margin: auto;
}

.worksTriangle h2.fontColorSwitch,
.contactTriangle h2.fontColorSwitch {
    color: #0F4443;
}

.contactTriangle,
.homeTriangle {
    border-top: 105px solid #0F4443;
    transform: rotate(-45deg);
    left: inherit;
    right: -105px;
}

.contactTriangle h2,
.homeTriangle h2 {
    left: inherit;
    right: -50px;
}

/*contact page */

.inContactPage {
    background-color: #0F4443;
}

.homeTriangle {
    border-top: 105px solid #BEB6AE;
}

.contactTriangle h2:nth-child(2),
.homeTriangle h2 {
    color: #0F4443;
    right: -35px;
}

.contactPage {
    margin: 25vh 0 150px;
    padding: 0 12vw;
}

.contactPage p {
    line-height: 23px;
    color: white;
}

/*works page*/

#currentOpt {
    font-size: 1.5em;
    font-weight: 700;
    margin: 10px;
}

.worksContent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, auto));
}

.singleWork {
    display: grid;
    margin: auto;
    cursor: pointer;
}

.singleWork:last-child {
    margin-bottom: 120px;
}

.worksImg {

    border: solid 2px black;
    margin: 25px auto 0;
    width: 270px;
    grid-row: 1;
}

.workTitle,
#singleProject h1,
#singleProject h2,
#singleProject a {
    margin: 5px 0 0 0;
    grid-row: 2;
    font: 20px 'Josefin Sans', sans-serif;
    color: black;
}

.homeTriangle h2 {
    color: white;
}

.filterTriangle {
    border-left: 105px solid transparent;
    border-right: 105px solid transparent;
    border-top: 105px solid #7A6048;
    width: 0;
    z-index: 3;
}

.filterMenu {
    border: solid #7A6048;
    border-width: 220px 230px 0px 180px;
    transform: rotate(-45deg);
    z-index: 3;
    cursor: inherit;
    position: fixed;
    left: 50px;
    bottom: 120px;
}

.filterTriangle h2 {
    color: white;
    cursor: pointer;
}

.filterTriangle h2:nth-child(n+2) {
    transform: rotate(45deg);
    text-decoration: underline;
    cursor: pointer;
}

.filterTriangle h2:nth-child(2) {
    margin: -100px 190px;
}

.filterTriangle h2:nth-child(4) {
    margin: -70px 120px;
}

.filterTriangle h2:nth-child(5) {
    margin: -50px 70px;
}

.filterTriangle h2:nth-child(6) {
    margin: -25px 35px;
}


.filterTriangle h2.active {
    top: -200px;
}

/*BACK FROM FILTER ARROW*/

#filterBack {
    position: absolute;
    cursor: pointer;
    width: 60px;
    height: 60px;
    left: -150px;
    z-index: 5;
    bottom: 50px;
    transform: rotate(45deg);
}

#filterBack div {
    z-index: 5;
    width: 70px;
    height: 3px;
    background-color: white;
    transform: rotate(-45deg);
    position: absolute;
}

#filterBack div:nth-child(1) {
    bottom: 28px;
    left: -5px;
}

#filterBack div:nth-child(2) {
    width: 28px;
    bottom: 19px;
    left: -8px;
    transform: rotate(-90deg)
}

#filterBack div:nth-child(3) {
    width: 28px;
    left: 5px;
    bottom: 4px;
    transform: rotate(180deg)
}

/*SINGLE PROJECT PAGE*/

/*NAV ADJUSTMENTS*/

.inSubPage {
    border-left: 105px solid transparent;
    border-right: 105px solid transparent;
    border-top: 105px solid #877E60;
}

.inSubPage h2 {
    color: white;
    top: -90px;
    width: 94px;
}

#subpageImg {
    width: 100vw;
    cursor: pointer;
}

#singleProject h1 {
    margin-bottom: 40px;
}

#singleProject p {
    font-family: 'Work Sans', sans-serif;
    font-size: 13pt;
}

#singleProject a {
    position: absolute;
    right: 20px;
    top: 10px;
}

#singleProject a:nth-child(3) {
    top: 50px;
}

#subpageText {
    padding: 10px 20px;
    margin-bottom: 100px;
    position: relative;
}

/*BREAKPOINT 1*/

@media only screen and (min-width: 666px) {
    .indexContent h1 {
        font-size: 16pt;
    }
    .indexContent {
        margin-top: 13vh;
    }
    #me {
        width: 35vw;
    }
    .mobileNav {
        position: absolute;
        bottom: inherit;
        top: 0;
        left: 0;
        right: 0;

    }
    .contactTriangle,
    .worksTriangle,
    .homeTriangle {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 4vh;
        width: 170px;
        height: 90px;
        border: none;
        background-color: #0F4443;
        transform: none;
        border-radius: 125px;
    }
    .contactTriangle,
    .homeTriangle {
        right: -500px;
    }
    .worksTriangle {
        left: -500px;
        background-color: white;
    }
    .contactTriangle h2,
    .worksTriangle h2,
    .homeTriangle h2 {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        line-height: 90px;
        text-align: center;
        font-size: 25pt;
    }
    .contactPage p {
        width: 450px;
        margin: 20px auto;
    }
    .inContact,
    .homeTriangle {
        background-color: #BEB6AE;
    }
    .filterTriangle {
        display: none;
    }
    #desktopFilterSec {
        margin: auto 20vw auto auto;
        height: 150px;
    }
    .desktopFilter {
        cursor: pointer;
        display: inline-block;
        font: 400 20pt 'Josefin Sans', sans-serif;
        text-align: center;
        margin: 7vh 10px;
        width: 150px;
        height: 50px;
        line-height: 50px;
    }
    .choice{
        border: solid 2px black
    }

}


/*INVISIBLE AND FULL OPACITY CLASSES*/

.invisible {
    opacity: 0;
}

.fullOpacity {
    opacity: 1;
}

/*dont display class*/

.dontDisplay {
    display: none;
}
